@mixin transition($params){
  -webkit-transition: $params;
  transition: $params;
}

*{
  outline: none;
}

footer{
  margin-top: 20px;
  background-color: #052954;
  color: white;
  a {
    color: white;
    &:hover { color: #d1d1d1; }
  }
}

.product-line {
  .panel {
    min-height: 235px;
    img {
      max-height: 200px;
    }
  }
}

.filter-item{
  > div{
    &:nth-child(1){
      margin-bottom: 10px;
      margin-top: 0;
      cursor: pointer;
      &.active-filter-item{
        font-weight: bold;
      }
      > div:nth-child(1) {
        > span:nth-child(1){
          background-color: #79ABDC;
          color: white;
          padding: 3px;
          font-weight: bold;
          border-radius: 5px;
        }
        > span:nth-child(2){ margin-left: 5px; }
      }
    }
  }
}

.disabled-label{
  color: #9e9e9e;
  cursor: not-allowed !important;
}

.catalog-product{
  &.ng-enter, &.ng-leave{
    @include transition(all linear 0.3s);
  }
  &.ng-leave.ng-leave-active, &.ng-enter{
    opacity: 0;
  }
  &.ng-leave, &.ng-enter.ng-enter-active{
    opacity: 1;
  }
}

.product-not-found{
  opacity: 1;
  margin-top: 80px;
  margin-bottom: 80px;
  &.ng-hide-remove{
    @include transition(0.3s linear opacity);
  }
  &.ng-hide{
    opacity: 0;
  }
  > div {
    &:nth-child(1){
      font-size: 22pt;
    }
    &:nth-child(2){
      margin: 10px 0 15px;
    }
  }
}

.subcategory-links {
  margin-bottom: 10px;
}

.thumbs-list-wrapper{
  width: 240px;
  overflow: hidden;
  // display: inline-block;
  > div{
    position: relative;
    left: 0px;
    transition: left ease 0.5s;
    white-space: nowrap;
  }
}

.btn-thumbs-move{
  width: 38px;
  // margin: 2px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  &.btn-thumbs-move-active{
    color: #333;
  }
}

.product-thumb{
  width: 60px;
  height: 60px;
  margin: 5px 0;
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  transition: border-color linear 0.3s;
  display: inline-block;
  &.selected-thumb{
    border-color: black;
  }
  img{
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.product-img{
  height: 450px;
  img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: opacity linear 0.3s;
    &.ng-hide{
      opacity: 0;
    }
  }
}

.search-attr-active{
  background-color: rgb(59, 132, 202) !important;
  color: white !important;
  &:hover {
    background-color: rgb(32, 100, 166) !important;
  }
}

.breadcrumbs{
  i.material-icons{
    position: relative;
    top: 5px;
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  &:hover{
    color: rgb(0, 0, 238);
    text-decoration: underline;
  }
}

.avr-price {
  font-size: 28pt;
}

.attr-widget {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

button.color-widget{
  // button {
  height: 34px;
  width: 38px;
  // }
  // i{
  //   vertical-align: middle;
  //   margin-bottom: 2px;
  // }
}

.product-links{
  td {
    padding: 0px !important;
    div {
      min-height: 50px;
      padding: 8px;
      font-size: 11pt;
      display: flex;
      align-items: center;
    }
  }
}

// .dotted-filler{
//   border-bottom: 1px dotted rgba(158, 158, 158, 0.5);
//   margin: 6px;
//   height: 12px;
// }

#search-text{
  padding-right: 22px;
}

.feature-row {
  font-size: 10pt;
  > div:first-child {
    overflow: hidden;
    div span{
      position: relative;
      padding-right: 8px;
      background-color: white;
    }
    &:before {
      content: '';
      display: block;
      border-bottom: 1px dotted #aaa;
      position: absolute;
      bottom: 4px;
      width: 100%;
    }
  }
}

.logos-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo{
  margin: 40px;
}
