@mixin transition($params){
  -webkit-transition: $params;
  transition: $params;
}

*{
  outline: none;
}

footer{
  margin-top: 20px;
}

md-whiteframe img {
  max-height: 100px;
}

.product-line md-whiteframe {
  margin-bottom: 30px;
  margin-left: 0;
  div {
    h2 {
      margin: 5px 0
    }
    h6 {
      margin: 0 0 10px;
    }
  }
  img {
    max-height: 200px;
  }
}

.search .md-errors-spacer {
  display: none;
}

.filter-item{
  > div{
    &:nth-child(1){
      margin-bottom: 10px;
      cursor: pointer;
      &.active-filter-item{
        font-weight: bold;
      }
    }
    &:nth-child(2){
      &.ng-hide{
        opacity: 0;
        max-height: 0 !important;
      }
      input[type='text']{
        width: 70px;
      }
      > div:last-child{
        width: 30px;
        height: 10px;
        border-top: 1px dashed;
      }
      padding-left: 4px;
      overflow-y: hidden;
      @include transition(all linear 0.5s);
    }
  }
  > md-checkbox{
    margin-left: 4px;
    margin-top: 4px;
  }
}

.catalog-product{
  &.ng-enter, &.ng-leave{
    @include transition(all linear 0.3s);
  }
  &.ng-leave.ng-leave-active, &.ng-enter{
    opacity: 0;
  }
  &.ng-leave, &.ng-enter.ng-enter-active{
    opacity: 1;
  }
}

.product-not-found{
  opacity: 1;
  &.ng-hide-remove{
    @include transition(0.3s linear opacity);
  }
  &.ng-hide{
    opacity: 0;
  }
}

.subcategory-links h3{
  margin-top: 0;
}

.product-thumb{
  width: 60px;
  height: 60px;
  margin: 5px 0;
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  transition: border-color linear 0.3s;
  &.selected-thumb{
    border-color: black;
  }
  img{
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.product-img{
  width: 340px;
  height: 340px;
  position: relative;
  img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: opacity linear 0.3s;
    &.ng-hide{
      opacity: 0;
    }
  }
}

.thumbs-list-wrapper{
  height: 292px;
  overflow: hidden;
  > div{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
}

.btn-thumbs-move{
  height: 24px;
  margin: 2px 0;
  cursor: pointer;
  &.btn-thumbs-move-active:hover{
    background: rgba(158, 158, 158, 0.2);
  }
}

.search-attr-active{
  background: rgba(158,158,158,0.2);
}

.breadcrumbs{
  i.material-icons{
    margin-top: 5px;
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  &:hover{
    color: rgb(0, 0, 238);
    text-decoration: underline;
  }
}

button.color-widget{
  i{
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

.product-links{
  md-list-item{
    border-radius: 4px;
    &:hover{
      background: rgba(158, 158, 158, 0.2);
    }
    a:hover {
      text-decoration: none;
    }
    > a{
      padding: 5px 10px;
      > div{
        height: 48px;
      }
    }
  }
}

.dotted-filler{
  border-bottom: 1px dotted rgba(158, 158, 158, 0.5);
  margin: 6px;
  height: 12px;
}

#search-text{
  padding-right: 22px;
}

div.features-block > div {
  padding-right: 15px;
}
